.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.square {
  border: 1px solid red;
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}
.square {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 24px;
}

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.status {
  color: white; /* Change color of h1 to white */
  margin: 20px 0;
}

.restart-button {
  background-color: blue; /* Adjust background color if needed */
  color: white; /* Change color of button text to white */
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(87, 153, 210);
  border-radius: 16px;
}

.restart-button:hover {
  background-color: darkblue; /* Optional: Add a hover effect */
}

/* this is test */

/* .layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
} */
